<div ng-controller="DashboardController" class="margin-top-10">
    <div class="row">
        <div class="col-md-3" id="clientsPortlet" style="position:fixed; height: 450px !important; width:20%;">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-green-haze bold uppercase">Mass Mail</span>
                    </div>
                </div>
                <div class="portlet-body">
                          <b>
                                    <a href="#/clients-overview.html">
                                      <span class="title">Clients Overview</span>
                                    </a><br>

                                    <a href="#/orders-overview.html">
                                        <span class="title">Orders Overview</span>
                                    </a><br>

                                    <a href="#/billing-overview.html">
                                        <span class="title">Billing Overview</span>
                                    </a><br>

                                    <a href="#/support-overview.html">
                                        <span class="title">Support Overview</span>
                                    </a><br>

                                    <a href="#">
                                        <span class="title">Reports Overview</span>
                                    </a><br>
                                </b>
                        </div>
            </div>

        </div>
        <div class="col-md-offset-3" style="margin-left: 21%; margin-right: 1%;">
           <!--<div class="col-md-offset-3" style="margin-left: 21%; margin-right: 1%;">-->
			<form action="#" class="row well">
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<h1>Mass Mail</h1>
					<p>This mass mail tool allows you to send emails to selective groups of your clients. The type of email you choose to send will determine what merge fields you can include within it. For example, sending a product/service related email allows you to include product specific items like domain, usernames, server, next due date, etc... Use Ctrl+Click to make multiple selections.</p>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<h2>Message Type</h2>
					<div class="form-group">
						<label class="control-label"> Email Type </label>
						<div class="form-inline">
							<div class="checkbox">
								<label data-toggle="collapse" data-target="#collapseOne">
									<input type="radio" name="collapse" /> General
								</label>
							</div>
							<div class="checkbox">
								<label data-toggle="collapse" data-target="#collapseTwo">
									<input type="radio" name="collapse" /> Product/Service
								</label>
							</div>
							<div class="checkbox">
								<label data-toggle="collapse" data-target="#collapseThree">
									<input type="radio" name="collapse" /> Addon
								</label>
							</div>
							<div class="checkbox">
								<label data-toggle="collapse" data-target="#collapseFour">
									<input type="radio" name="collapse" /> Domain
								</label>
							</div>
						</div>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="driving-license-kind">
								<div class="checkbox">
									<input type="checkbox" value="">A
								</div>
								<div class="checkbox">
									<input type="checkbox" value="">B
								</div>
								<div class="checkbox">
									<input type="checkbox" value="">C
								</div>
								<div class="checkbox">
									<input type="checkbox" value="">D
								</div>
								<div class="checkbox">
									<input type="checkbox" value="">E
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<h2>Client Criteria</h2>
					<div class="form-group">
						<strong class="labelCheck"> Client Group </strong>
						<select class="form-control" name="cGroup" multiple="">
							<option value="1"> BS-01 </option>
							<option value="2"> BS-02 </option>
							<option value="3"> BS-03 </option>
							<option value="4"> BS-04 </option>
							<option value="5"> BS-05 </option>
							<option value="6"> BS-06 </option>
							<option value="7"> BS-07 </option>
						</select>
					</div>
					<div class="form-group">

					</div>
					<div class="form-group">
						<strong class="labelCheck"> Language </strong>
						<select class="form-control" multiple>
							<option> English </option>
							<option> Tamil </option>
							<option> Telugu </option>
							<option> Hindi </option>
						</select>
					</div>
					<div class="form-group">
						<strong class="labelCheck"> Client Status </strong>
						<select class="form-control" multiple>
							<option> Active </option>
							<option> Inactive </option>
							<option> Clear </option>
						</select>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<h2>Product / Service Criteria</h2>
					<div class="form-group">
						<strong class="labelCheck"> Product / Service </strong>
						<select class="form-control" multiple>
							<option> BS-01 </option>
							<option> BS-02 </option>
							<option> BS-03 </option>
							<option> BS-04 </option>
							<option> BS-05 </option>
							<option> BS-06 </option>
							<option> BS-07 </option>
						</select>
					</div>
					<div class="form-group">
						<strong class="labelCheck"> Product / Service Status </strong>
						<select class="form-control" multiple>
							<option> Active </option>
							<option> Inactive </option>
							<option> Clear </option>
						</select>
					</div>
					<div class="form-group">
						<strong class="labelCheck"> Assigned Server </strong>
						<select class="form-control" multiple>
							<option> BS-01 </option>
							<option> BS-02 </option>
							<option> BS-03 </option>
							<option> BS-04 </option>
							<option> BS-05 </option>
							<option> BS-06 </option>
							<option> BS-07 </option>
						</select>
					</div>
					<div class="form-group">
						<div class="ac-custom ac-checkbox radioCustom ac-checkmark" autocomplete="off">
							<strong class="labelCheck">Send for Each Domain</strong>
							<br/>
							<input id="check5" name="check5" type="checkbox" />
							<label for="check5">Tick this box to send an email for every matching domain *</label>
						</div>
					</div>
				</div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<h2>Addon Criteria</h2>
          <div class="form-group">
						<strong class="labelCheck"> Addon </strong>
						<select class="form-control" multiple>
							<option> Active </option>
							<option> Inactive </option>
							<option> Clear </option>
						</select>
					</div>
					<div class="form-group">
						<strong class="labelCheck"> Addon Status </strong>
						<select class="form-control" multiple>
							<option> BS-01 </option>
							<option> BS-02 </option>
							<option> BS-03 </option>
							<option> BS-04 </option>
							<option> BS-05 </option>
							<option> BS-06 </option>
							<option> BS-07 </option>
						</select>
					</div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<h2>Domain Criteria</h2>
					<div class="form-group">
						<strong class="labelCheck"> Domain Status </strong>
						<select class="form-control" multiple>
							<option> BS-01 </option>
							<option> BS-02 </option>
							<option> BS-03 </option>
							<option> BS-04 </option>
							<option> BS-05 </option>
							<option> BS-06 </option>
							<option> BS-07 </option>
						</select>
					</div>
        </div>
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<div class="form-group text-center col-md-offset-4 col-md-6" style="margin-top:30px;">
						<button class="btn btn-primary" value="COMPOSE MESSAGE">
							<i class="fa fa-envelope"></i><span>Compose Message</span>
						</button>
					</div>
				</div>
			</form>
		<!--</div>-->
            
            
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    $("#clientsPortlet").mCustomScrollbar({theme: "minimal"});
</script>
<!-- BEGIN MAIN JS & CSS -->
