
<div class="row">
    <div class="col-md-3 page-sidebar navbar-collapse collapse ng-scope" id="ReportPortlet" style="position:fixed; height: 427px !important; width:25%;">
        <div class="row">
            <div class="col-md-3 " id="clientsPortlet" style="position:fixed; height: 450px !important; width:20%;">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <span class="caption-subject font-green-haze bold uppercase">shortcuts</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="list-unstyled page-sidebar-menu">
                            <li>
                                <a href="#/clients-overview.html">
                                    <!--<i class="icon-note"></i>-->
                                    <span class="title">Clients Overview</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/client-search.html">
                                    <!--<i class="icon-basket"></i>-->
                                    <span class="title"> Clients Search </span>
                                </a>
                            </li>



<!--                            <li>
                                <a href="#/promocode-settings.html">
                                    <i class="icon-note"></i>
                                    <span class="title">Promocode Settings</span>
                                </a>
                            </li>    -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN MAIN JS & CSS -->
    <script>
        // Index.init();
        // Tasks.initDashboardWidget();
        $("#clientsPortlet").mCustomScrollbar({theme: "minimal"});
    </script>
    <!-- BEGIN MAIN JS & CSS --> 