<!-- BEGIN MAIN CONTENT --> 
<div ng-controller="PaymentController ">
	<!-- BEGIN PAYMENT -->
	<div class="row">
		<div class="col-md-12">
			<div class="thankDiv" ng-hide="{{user.paymentverified}} == 0 ? true : false">
				<h4>Thanks for activating your account.</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ng-hide="{{user.paymentverified}} == 1 ? true : false">
			<div class="thankDiv">
				<h4>Thanks! Please add a credit card to activate your account.</h4>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:3%;">
		<div class="col-md-12">
			<div class="portlet light" ng-hide="{{user.paymentverified}} == 1 ? true : false">
				<div class="portlet-title">
					<div class="caption">
						<h2>Payment Methods</h2>
					</div>
				</div>
				<div class="portlet-body">
					<div>
						<h5>Please enter your preferred payment method below. You can use a credit card or prepay through Paypal.</h5>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="tabbable-line">
								<ul class="nav nav-tabs">
									<li class="active text-center" style="padding: 1%; padding-bottom:.3%;">
										<a data-toggle="tab" href="payment.html/#tab_15_1" aria-expanded="true">
											<i class="fa fa-credit-card fa-2x"></i>
											<br/> Credit Card
										</a>
									</li>
									<li class="text-center" style="padding: 1%; padding-bottom:.3%;">
										<a data-toggle="tab" href="payment.html/#tab_15_2" aria-expanded="false">
											<i class="fa fa-paypal fa-2x"></i>
											<br/> PayPal
										</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="tab_15_1" class="tab-pane active" style="margin-bottom: 3%;">
										<h3 class="label-control">Add Credit Card</h3>
										<div class="row">
											<div class="col-md-10 col-md-offset-1">
												<form class="form-body" ng-submit="savecard()" name="paymentForm">
													<fieldset style="margin-top: 3%;">
														<legend>YOUR DETAILS</legend>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="fname" 
																	ng-model="card.FirstName"
																	placeholder="First Name" ng-pattern="/^[A-z]+$/"  required />
																</div>
																<p class="error" ng-show="paymentForm.fname.$error.required&&!paymentForm.fname.$pristine"   style="color:red">*first name is required</p>
																<p class="error" ng-show="paymentForm.fname.$error.pattern"   style="color:red">*Enter valid name</p>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="lname"
																	ng-model="card.LastName"
																	 placeholder="Last Name" ng-pattern="/^[A-z]+$/"  required />
																</div>
																<p class="error" ng-show="paymentForm.lname.$error.required&&!paymentForm.lname.$pristine"   style="color:red">*last name is required</p>
																<p class="error" ng-show="paymentForm.lname.$error.pattern"   style="color:red">*Enter valid name</p>

															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<input type="tel" class="form-control" name="phone" 
																	ng-model="card.phone" ng-pattern="/^[+0-9]{6,10}/" placeholder="Phone Number" required />
																</div>
																<p class="error" ng-show="paymentForm.phone.$error.required&&!paymentForm.phone.$pristine"   style="color:red">*number is required</p>
																<p class="error" ng-show="paymentForm.phone.$error.pattern"   style="color:red">*Enter valid number</p>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="street" 
																	ng-model="card.street" placeholder="Street Address" required />
																</div>
																	<p class="error" ng-show="paymentForm.street.$error.required&&!paymentForm.street.$pristine"   style="color:red">*street is required</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="city" 
																	ng-model="card.city"placeholder="City" required />
																</div>
																	<p class="error" ng-show="paymentForm.city.$error.required&&!paymentForm.city.$pristine"   style="color:red">*City is required</p>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="state" 
																	ng-model="card.state"placeholder="State" required />
																</div>
																	<p class="error" ng-show="paymentForm.state.$error.required&&!paymentForm.state.$pristine"   style="color:red">*state is required</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="code" 
																	ng-model="card.postal" ng-pattern="/^\d+$/" ng-minlength="5" placeholder="Postal Code" required />
																</div>
																<p class="error" ng-show="paymentForm.code.$error.required&&!paymentForm.code.$pristine"   style="color:red">*zipcode is required</p>
																<p class="error" ng-show="paymentForm.code.$error.pattern"   style="color:red">*Enter valid zipcode</p>

															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<select class="form-control select2me" id="form_control_3" 
																	ng-model="card.country"data-placeholder="Country">
																		<option value=""></option>
																		<option value="IN">India</option>
																		<option value="US">United States</option>
																		<option value="UK">United Kindgom</option>
																	</select>
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset style="margin-top: 3%;">
														<legend>Credit Card Details</legend>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<input  type="text" class="form-control"
																	ng-model="card.cardno" name="credit" placeholder="Credit Card Number" required cc-number cc-eager-type ng-class="paymentForm.credit.$valid?'borderg':''"/>
														<p  ng-show="paymentForm.credit.$invalid && paymentForm.credit.$ccEagerType">
  Looks like you're typing a {{paymentForm.credit.$ccEagerType}} number!
</p>
<p style="color:green" ng-show="paymentForm.credit.$valid" ng-model="card.type"  ng-if="paymentForm.credit.$valid ? card.type = paymentForm.credit.$ccType :''">
  Yes, that looks like a valid {{paymentForm.credit.$ccType}} number! card : {{card.type}}
</p>
										</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="cvc" 
																	ng-model="card.cvc"placeholder="CVV" cc-cvc cc-type="credit.$ccType" required />
																	
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-3">
																<div class="form-group">
																	<input type="text" class="form-control" maxlength="2" name="expirye"
																	ng-model="card.expdate" placeholder="Expires MM" required />
																</div>
																<p style="color:green" ng-hide="paymentForm.$error.ccExp">
  Yes, that looks like a valid 
</p>
															</div>
															<div class="col-md-3">
																<div class="form-group" cc-exp>
																<input type="text" class="form-control"  ng-hide="true" name="expirym"
																	ng-model="card.expdate" placeholder="Expires MM" required cc-exp-month  />
																	<input type="text" class="form-control" maxlength="2" name="expiryy"
																	ng-model="card.expyear" placeholder="Expires YYYY" required cc-exp-year  />
																</div>
																
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<input type="text" class="form-control" name="cname" 
																	ng-model="card.cname" ng-pattern="/^[A-z]+$/" placeholder="Please enter a name for this credit card" required />
																</div>
																	<p class="error" ng-show="paymentForm.cname.$error.required&&!paymentForm.phone.$pristine"   style="color:red">*name is required</p>
																<p class="error" ng-show="paymentForm.cname.$error.pattern"   style="color:red">*Enter valid name</p>
															</div>
														</div>
														<div class="row" style="margin-top: 2%;">
															<div class="col-md-12">
																<button class="btn btn-success" ng-disabled="(!paymentForm.credit.$ccType)||(!paymentForm.cvc.$valid)||(paymentForm.$error.ccExp)">Save Credit Card</button>
															</div>
														</div>
													</fieldset>
												</form>
											</div>
										</div>
									</div>
									<div id="tab_15_2" class="tab-pane">
										<h3 class="label-control">PayPal Payment</h3>
										<div class="row">
											<div class="col-md-10 col-md-offset-1">
												<form  class="form-body">
													<label class="control-label">This is a one-time payment that will not recur. Payment may take up to 5 minutes to process.</label>
													<div class="form-group">
														<select class="form-control input-medium select2me" id="form_control_3" ng-model="credit" data-placeholder="Select..">
															<option value="5" selected>$5.00 USD</option>
															<option value="10">$10.00 USD</option>
															<option value="15">$15.00 USD</option>
															<option value="20">$20.00 USD</option>
														</select>
													</div>
													<div class="form-group">
														<button class="btn btn-default" ng-click="getlink()">Submit</button>
													</div>
												</form>
<!-- <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MNYGNPSR4TTNL">
<table>
<tr><td><input type="hidden" name="on0" value="Credits">Credits</td></tr><tr><td><select name="os0">
	<option value="Add">Add $5.00 USD</option>
	<option value="Add">Add $10.00 USD</option>
	<option value="Add">Add $15.00 USD</option>
	<option value="Add">Add $20.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 -->



											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div class="row" style="margin-top:3%;">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<h2>Promo Code</h2>
					</div>
				</div>
				<div class="portlet-body">
					<div>
						<h5>To add a promo code, please first link a credit card or add paypal credit.</h5>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Promo Code" ng-disabled="{{user.paymentverified}} == 0 ? true : false" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- END PAYMENT -->
</div>
<!-- END MAIN CONTENT -->
<div class="loader loaader" ng-hide="loadthis">
	<img src="client/assets/images/pay_loader.gif" class="img-responsive" />
</div>
<div class="modal-backdrop fade in loaader" style="height: 100%;" ng-hide="loadthis"></div>
<!-- BEGIN MAIN JS & CSS -->
<style>
	.page-head {
		display: none;
	}

	.page-sidebar-wrapper {
		display: none;
	}
	
	.page-content-wrapper .page-content {
	  	margin-left: 0;
	}

	form legend::after {
		background: #dfdfdf none repeat scroll 0 0;
		content: "";
		height: 1px;
		margin-left: 0.5rem;
		position: absolute;
		top: 1rem;
		width: 100%;
	}
	
	form legend {
		display: block;
		margin-bottom: 0.5rem;
		overflow: hidden;
		position: relative;
		width: 100%;
		color: #bbbbbb;
		font-size: 1.5rem;
		border: none;
		font-weight: 600;
		letter-spacing: 0.06rem;
		text-transform: uppercase;
	}
	
	.thankDiv {
		background-color: #f9fcff;
		border: 2px solid #e8f4ff;
		border-radius: 3px;
		padding: 1.5rem;
		position: relative;
	}

	.ng-valid-cc-cvc
	{
		border-color: green!important;
	}


	.borderg{

		border-color: green;
	}

	 .ng-invalid-pattern{
	 	border-color: red;
	 }
	 .loader {
		width: 84px;
		height: 86px;
		position: fixed;
		top: 46%;
		left: 50%;
		z-index: 99999;
	}

	  </style>
<script>
</script>
<!-- BEGIN MAIN JS & CSS