
  <div class="login-box" ng-controller="newpasswordController"> 
    <form class="email-login"  ng-submit="forgot()">
      <div class="u-form-group">
        <input id="input" type="password" placeholder="password" required ng-model="user.password"/>
        <input id="input" type="password" placeholder="Re-password" required ng-model="user.repassword"/>
        <br>
        <span class="error" ng-show="error">{{error}}</span>
        <span class="success" ng-show="success">{{success}}</span>
      </div>
      <div class="u-form-group">
        <button ng-hide="hide">change password</button>
      </div>
    </form>
  </div>