<!-- BEGIN MAIN CONTENT -->
<div ng-controller="rpasswordController">
  <!-- BEGIN BODY -->
  <div class="page-md login">
    <!-- BEGIN LOGO -->
    <div class="logo">
      <a href="index.html">
        <!--        <img src="assets/images/logo-default.png" alt="" />-->
        <h4 class="logo-text">B I L L I N G &nbsp; S Y S T E M</h4>
      </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGIN -->
    <div class="container">
      <!-- BEGIN LOGIN FORM -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="login-box" style="min-height:250px;">
            <div class="lb-header">
              <a href="#" class="active" id="login-box-link" >Enter New Paswword</a>
            </div>
               <div>
                <span style="color:green">{{message}}</span>
                <span style="color:red">{{error}}</span>
              </div>
            <form class="email-login" ng-submit="save()">
              <div class="u-form-group">
                <input type="password" placeholder="password" ng-model="user.password"  />
              </div>
              <div class="u-form-group">
                <input type="password" placeholder="re-password" ng-model="user.password2"  />
              </div>
              
              <div class="u-form-group">
                <button>Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- END LOGIN FORM -->

    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright text-center" style="color:#FFF;">
      2015 &copy; Billing Inc - Admin Dashboard.
    </div>
    <!-- END COPYRIGHT -->
  </div>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS & CSS -->
<style>
  .page-header,
  .page-sidebar-wrapper,
  .page-head,
  .page-footer {
    display: none;
  }
  
  .page-header-fixed .page-container {
    margin-top: 0px;
    padding: 0px;
  }
  
  .page-content-wrapper .page-content {
    margin-left: 0px !important;
    padding: 0;
  }
  
  .page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 0px !important;
    padding: 0;
    margin-top: -5%;
  }
  
  .login {
    /*background: url(assets/images/1.png) repeat !important;*/
    background-color: #1cbb9b;
    height: 715px;
    padding-top: 1%;
  }
  
  .login .content .register-form {
    margin-top: -10%;
  }
  
  .login-box {
    position: relative;
    margin: 10px auto;
    /*    width: 500px;*/
    min-height: 550px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  }
  
  .lb-header {
    position: relative;
    color: #00415d;
    margin: 5px 5px 25px 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    height: 50px;
  }
  
  .lb-header a {
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .lb-header .active {
    color: #029f5b;
    font-size: 18px;
  }
  
  .social-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 5px 0;
  }
  
  .social-login a {
    position: relative;
    float: left;
    width: calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 5%;
    text-align: center;
  }
  
  .social-login a i {
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
  }
  
  .social-login a:first-child {
    background-color: #49639F;
  }
  
  .social-login a:last-child {
    background-color: #DF4A32;
  }
  
  .social-login1 a:first-child {
    background-color: #00B3F6;
  }
  
  .social-login1 a:last-child {
    background-color: #007AB6;
  }
  
  .social-login2 a:first-child {
    background-color: #000;
  }
  
  .email-login,
  .email-signup {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    /*    margin-top: 10%;*/
    text-align: center;
  }
  
  .u-form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .u-form-group input[type="email"],
  .u-form-group input[type="password"] {
    width: calc(50% - 22px);
    height: 45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    /*    font-size: 0.8rem;*/
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .u-form-group input:focus {
    border-color: #358efb;
  }
  
  .u-form-group button {
    width: 50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
  
  .forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    margin-top: 5%;
    /*    font-size: 0.75rem;*/
  }
  
  .logo-text {
    color: #fff;
    margin-top: 0%;
    text-align: center;
  }
</style>
<script>
</script>
<!-- BEGIN MAIN JS & CSS -->