<div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<li class="heading">
			<h3>NAVIGATION</h3>
		</li>
		<li class="start">
			<a href="#/todo">
			<i class="icon-home"></i>
			<span class="title">Home</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-user"></i>
			<span class="title">Services</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/ui_bootstrap.html">
					<i class="icon-user-following"></i> My Services</span>
					</a>
				</li>
				<li class="divider" role="separator"></li>
				<li>
					<a href="#/file_upload.html">
					<i class="icon-user-follow"></i> Order New Services</span>
					</a>
				</li>
				<li>
					<a href="#/ui_select.html">
					<i class="icon-users"></i> View Available Addons</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-globe-alt"></i>
			<span class="title">Domains</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/form-tools">
						<i class="icon-globe"></i> My Domains
					</a>
				</li>
				<li>
					<a href="#/pickers">
						<i class="icon-vector"></i> Renew Domains
					</a>
				</li>
				<li>
					<a href="#/dropdowns">
						<i class="icon-shuffle"></i> Register a New Domain
					</a>
				</li>
				<li>
					<a href="#/tree">
						<i class="icon-share-alt"></i> Transfer Domains to Us
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="icon-magnifier"></i> Domain Search
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-book-open"></i>
			<span class="title">Billing</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/form-tools">
						<i class="icon-notebook"></i> My Invoices
					</a>
				</li>
				<li>
					<a href="#/pickers">
						<i class="icon-envelope-letter"></i> My Quotes
					</a>
				</li>
				<li>
					<a href="#/dropdowns">
						<i class="icon-layers"></i> Mass Payment
					</a>
				</li>
				<li>
					<a href="#/tree">
						<i class="icon-credit-card"></i> Manage Credit Card
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="icon-briefcase"></i> Add Funds
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-earphones-alt"></i>
			<span class="title">Support</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/form-tools">
						<i class="icon-puzzle"></i> Tickets
					</a>
				</li>
				<li>
					<a href="#/pickers">
						<i class="icon-microphone"></i> Announcements
					</a>
				</li>
				<li>
					<a href="#/dropdowns">
						<i class="icon-key"></i> Knowledgebase
					</a>
				</li>
				<li>
					<a href="#/tree">
						<i class="icon-arrow-down"></i> Downloads
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="icon-feed"></i> Network Status
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#/profile/dashboard" id="sidebar_menu_link_profile">
			<i class="icon-map"></i>
			<span class="title">Open Ticket</span>
			</a>
		</li>
		<li>
			<a href="">
			<i class="icon-graduation"></i>
			<span class="title">Affiliates</span>
			</a>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>	