<!-- BEGIN MAIN CONTENT -->
<div ng-controller="GeneralPageController" class="margin-top-10" data-ng-init="init()">
    <div class="row">
        <div class="col-md-3 page-sidebar navbar-collapse collapse ng-scope" id="supportTicketsPortlet" style="position:fixed; height: 427px !important; width:25%;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">Configuration</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <ul class="list-unstyled page-sidebar-menu">
                                <li>
                                    <a href="#">
                                        <i class="icon-user-follow"></i>
                                        <span class="title">General Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-basket"></i>
                                        <span class="title">Automation Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-note"></i>
                                        <span class="title">Email Templates</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-list"></i>
                                        <span class="title">Addon Modules</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-badge"></i>
                                        <span class="title">Client Groups</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">Staff Management</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                          <ul class="list-unstyled page-sidebar-menu">
                              <li>
                                  <a href="#">
                                      <i class="icon-user-follow"></i>
                                      <span class="title">Administrator Users</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="icon-basket"></i>
                                      <span class="title">Administrator Roles</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="icon-note"></i>
                                      <span class="title">Two-Factor Authentication</span>
                                  </a>
                              </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">Payments</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <ul class="list-unstyled page-sidebar-menu">
                                <li>
                                    <a href="#">
                                        <i class="icon-user-follow"></i>
                                        <span class="title">Currencies</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-basket"></i>
                                        <span class="title">Payment Gateways</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-basket"></i>
                                        <span class="title">Tax Rules</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-basket"></i>
                                        <span class="title">Promotions</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">advanced search</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form action="#" class="form-horizontal">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Clients</option>
                                        <option>Orders</option>
                                        <option>Invoices</option>
                                        <option>Services</option>
                                        <option>Domains</option>
                                        <option>Tickets</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Client Name</option>
                                        <option>Company Name</option>
                                        <option>Email Address</option>
                                        <option>Address 1</option>
                                        <option>Address 2</option>
                                        <option>City</option>
                                        <option>State</option>
                                        <option>Pincode</option>
                                        <option>Country</option>
                                        <option>Phone No. </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="1" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="SEARCH" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">Staff Online</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <ul class="list-unstyled">
                                <li>Admin</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <h2 class="caption-subject font-green-haze bold uppercase">Security Questions</h2>
                            </div>
                        </div>
                    </div>
                    <div class="portlet light">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <strong>Questions</strong>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-responsive">
                                        <thead>
                                            <th> Question </th>
                                            <th> Uses </th>
                                            <th colspan="2" class="text-center"> Actions </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> What is my favorite food? </td>
                                                <td> 0 </td>
                                                <td class="text-center"> <a href="#"><i class="fa fa-pencil"></i></a> </td>
                                                <td class="text-center"> <a href="#"><i class="fa fa-trash"></i></a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet light" style="margin-top:3%;">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <strong>Add Security Question</strong>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> Security Question </label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
