<div ng-controller="LogsettingController" class="margin-top-10" data-ng-init="init()">
    <div class="row">
        <div class="col-md-3" id="logPortlet" style="position:fixed; height: 455px !important; width:20%;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <!-- Overview cloud -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">Overview Shortcuts</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <b>
                                <a href="#/clients-overview.html">
                                    <span class="title">Clients Overview</span>
                                </a><br>

                                <a href="#/orders-overview.html">
                                    <span class="title">Orders Overview</span>
                                </a><br>

                                <a href="#/billing-overview.html">
                                    <span class="title">Billing Overview</span>
                                </a><br>

                                <a href="#/support-overview.html">
                                    <span class="title">Support Overview</span>
                                </a><br>

                                <a href="#">
                                    <span class="title">Reports Overview</span>
                                </a><br>
                            </b>
                        </div>
                    </div>
                    <!-- overview cloud ends -->

                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">Search Shortcuts</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <b>
                                <a href="#/client-search.html">
                                    <span class="title">Client Search</span>
                                </a><br>

                                <a href="#/search-domain.html">
                                    <span class="title">Domain Search</span>
                                </a><br>

                                <a href="#/manage-order.html">
                                    <span class="title">Order Search</span>
                                </a><br>

                                <a href="#/manage-transactions.html">
                                    <span class="title">Transaction Search</span>
                                </a><br>

                            </b>
                        </div>
                    </div>
                    <!-- search shotcuts ends -->

                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-green-haze bold uppercase">Quick Add</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <b>
                                <a href="#/add-client.html">
                                    <span class="title">Add new client</span>
                                </a><br>

                                <a href="#/manage-order.html">
                                    <span class="title">Add new order</span>
                                </a><br>

                                <a href="#">
                                    <span class="title">Open new ticket</span>
                                </a><br>

                            </b>
                        </div>
                    </div>


                </div>
            </div>
            
            
            
        </div>
        <div class="col-md-9 col-md-offset-3" style="margin-left: 21%; margin-right: 1%; width: 79%;">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box">
                        <div class="portlet-body">
<!--                            <div class="row">
                                <div class="col-md-12 alert alert-info">
                                    <p>Enable logger:
                                        <span class="bootstrap-switch-container">
                                            <input type="checkbox" ng-model="logSwitch" ng-change="change()" >
                                        </span>
                                    </p>
                                </div>
                            </div>-->
                            <div class="row" style="margin-top:2%;">
                                <div class="col-md-12">
                                    <table class="table table-responsive table-hover">
                                        <thead>
                                        <th>Event Logger</th>
                                        <th>Status</th>
                                        <th>Last Modified Date</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Member Logins, Administrator activities, Error logs</td>
                                                <td ng-if="logStatus[0].status === 0">                 
                                                    <label> <strong><font color="#FF3333"> Disabled </font></strong></label>  
                                                </td>
                                                <td  ng-if="logStatus[0].status === 1">
                                                    <label> <strong><font color="#4DB3A4"> Enabled </font></strong></label>  
                                                </td>
                                                <td>
                                                    {{logStatus[0].lastChange| date:'medium'}}                                       
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row" style="margin-top:2%;">
                                <div class="col-md-12 alert alert-info"> 
                                    <p>Total number of logs stored: <span> <strong>{{logCount}}</strong> </span> 
                                        <!--<button style="float:right" class="btn red" ng-click="clearAllLogs()">Clear All Logs</button>--> 
                                    </p>
                                </div>
                            </div>

                            <div role="tabpanel">
<!--                                <form>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                            <input type="text" class="form-control" placeholder="Search Logs" ng-model="searchLogs">
                                        </div>      
                                    </div>
                                </form>-->

<form>
                                <div class="form-group">
                                    <div class="input-group col-sm-12 form-inline" style="margin-bottom: 3%;">
                                        <div class="input-group">
                                            <div class="input-group-addon" style="width: 5%;"><i class="fa fa-search"></i></div>
                                            <input type="text" class="form-control" placeholder="Search Logs" ng-model="searchLogs">
                                        </div>
                                        
                                        <div class="input-group" style="float: right">
                                            <div class="input-group-addon"><i class="fa fa-list-ol"></i>
                                                <select ng-model="numPerPage">
                                                    <option value="10">10 rows</option>
                                                    <option value ="20">20 rows</option>
                                                    <option value ="30">30 rows</option>
                                                    <option value ="40">40 rows</option>
                                                    <option value ="50">50 rows</option>
                                                    <option value ="100">100 rows</option>
                                                    <option value ="100000">All rows</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <td>
                                                <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                                                    Date - Time
                                                    <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                                                    Role
                                                    <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" ng-click="sortType = 'userID'; sortReverse = !sortReverse">
                                                    User ID
                                                    <span ng-show="sortType == 'userID' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'userID' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" ng-click="sortType = 'level'; sortReverse = !sortReverse">
                                                    Level
                                                    <span ng-show="sortType == 'level' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'level' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" ng-click="sortType = 'msg'; sortReverse = !sortReverse">
                                                    Message
                                                    <span ng-show="sortType == 'msg' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'msg' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                                                    Type
                                                    <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                                    Status
                                                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
                                                    IP Address
                                                    <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span> 
                                                </a>
                                            </td>
                                        </tr>
                                    </thead>                
                                    <tbody>
                                        <tr ng-repeat="log in allLogs| orderBy : sortType : sortReverse | filter : searchLogs  | filter : paginate">
                                            <td>{{log.date| date:"dd-MMM-yyyy" }} - {{log.date| date:'mediumTime' }}</td>
                                            <td>{{log.role}}</td>
                                            <td>{{log.userId}}</td>
                                            <td>{{log.level}}</td>
                                            <td>{{log.msg}}</td>
                                            <td>{{log.type}}</td>
                                            <td>{{log.status}}</td>
                                            <td>{{log.IP}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div align="center"><pagination total-items="totalItems" ng-model="currentPage"
                                                                max-size="5" boundary-links="true"
                                                                items-per-page="numPerPage" class="pagination-sm">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->

        <!-- BEGIN MAIN JS & CSS -->
        <script>
                    $("#logPortlet").mCustomScrollbar({theme: "minimal"});
        </script>
        <!-- BEGIN MAIN JS & CSS -->
