body{
  background-color: #1cbb9b;
}
.login-box{
  position:relative;
  margin: 10px auto;
  width: 500px;
  height:150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
  width: calc(50% - 22px);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}
.u-form-group input:focus{
  border-color: #358efb;
}
.u-form-group button{
  width:50%;
  background-color: #1CB94E;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-16px) rotateY(-5deg)}
  37.5% {transform: translateX(15px) rotateY(4deg)}
  62.5% {transform: translateX(-13px) rotateY(-2deg)}
  87.5% {transform: translateX(12px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 800ms ease-in-out;
  border-color: red;
}



