<div class="row">

    <div class="col-md-3 page-sidebar navbar-collapse collapse ng-scope" id="dashboardPortlet" style="position:fixed; height: 400px !important; width:20%;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <span class="caption-subject font-green-haze bold uppercase">shortcuts</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="list-unstyled page-sidebar-menu">
                            <li>
                                <a href="#/clients-overview.html">
                                    <span class="title">Clients Overview</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/orders-overview.html">
                                    <span class="title">Orders Overview</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/billing-overview.html">
                                    <span class="title">Billing Overview</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/support-overview.html">
                                    <span class="title">Support Overview</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/report-overview.html">
                                    <span class="title">Reports Overview</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/client-search.html">
                                    <span class="title">Client Search</span>
                                </a>
                            </li>

                            <li> <a href="#/search-domain.html">
                                    <span class="title">Domain Search</span>
                                </a>
                            </li>

                            <li>  <a href="#/manage-order.html">
                                    <span class="title">Order Search</span>
                                </a>
                            </li>

                            <li> <a href="#/manage-transactions.html">
                                    <span class="title">Transaction Search</span>
                                </a>
                            </li>

                            <li>  <a href="#/add-client.html">
                                    <span class="title">Add new client</span>
                                </a></li>

                            <li><a href="#/manage-order.html">
                                    <span class="title">Add new order</span>
                                </a></li>

                            <li><a href="#">
                                    <span class="title">Open new ticket</span>
                                </a></li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
